@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --blue : #5dbcfc;
    --border-color: #3f3f4666;
}

* {
    box-sizing: border-box;
    letter-spacing : 1px;
}

body {
    background-color: #fafafa;
}

.dark {
    background-color : #000000;
}

